name: Generate 3D Contribution Calendar

on:
  schedule:
    - cron: "0 18 * * *" # Runs every day at 6 PM UTC
  workflow_dispatch: # Allows manual trigger from Actions tab
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib

    steps:
      - uses: actions/checkout@v4

      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Commit & Push 3D contribution graph
        run: |
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add -A .
          git commit -m "chore: update 3D contribution graph" || exit 0
          git push
